<header class="bg-primary">
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="./index.html"><img class="logo_img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="pc_logo"></a>
      </div>
      <ul class="menu">
        <li><a href="./glasses.html">系列鏡框</a></li>
        <li><a href="./store.html">門市據店</a></li>
        <li><a href="./blog.html">部落格</a></li>
        <li><a href="./faq.html">常見問題</a></li>
      </ul>
    </div>
  </div>
</header>