.sunpro-list {
  margin-right: -12px;
  margin-left: -12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
  @include pad() {
    justify-content: center;
  }
  @include phone() {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.sunpro-item-list {
  max-width: 33%;
  margin-bottom: 80px;
  margin-right: 12px;
  margin-left: 12px;
  @include pad() {
    max-width: 50%;
  }
  @include phone() {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  img {
    max-width: 416px;
    display: block;
    @include pad() {
      max-width: 336px;
    }
    @include phone() {
      max-width: 348px;
    }
  }
  .pro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pro-text {
      font-size: 24px;
    }
    .pro-price {
      font-size: 24px;
      color: $primary;
    }
  }
  .color-select {
    display: flex;
    .pro-brown {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: $warning;
      margin-right: 8px;
    }
    .pro-orange {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: $block;
    }
  }
}