<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>周周-2024 切版直播班-第三、四週主線任務</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 門市據點 -->
    <section class="container local">
      <h2><a class="local-title" href="./site.html">門市據點</a></h2>
      <div class="local-area">
        <p class="area-text">選擇地區</p>
        <div>
          <select class="local-select">
            <option class="select" selected>台北市</option>/option>
            <option value="新北市">新北市</option>
            <option value="桃園市">桃園市</option>
            <option value="台中市">台中市</option>
          </select>
        </div>
      </div>
    </section>

    <!-- 門市 card -->
    <section class="container site">
      <ul class="site-list">
        <li class="site-list-item">
          <div class="card" >
            <img src="/assets/images/store-1.png" alt="store-1">
            <div class="card-body">
              <h5 class="card-title"><a href="./storeintro.html">台北中山旗艦店</a></h5>
              <ul class="card-text">
                <li class="card-text-item">
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      call
                    </span>
                    <span>
                      電話：(02)000-1234
                    </span>
                  </a>
                </li>
                <li class="card-text-item">
                  <a href="#">
                    <span class="material-symbols-outlined site-icon">
                      schedule
                    </span>
                    <span>
                      營業時間：10:00-21:00
                    </span>
                  </a>
                </li>
                <li>
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      location_on
                    </span>
                    <span>
                      地址：台北市中山區南京東路25巷2-1號
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="site-btn">詳細資訊</a>
            </div>
          </div>
        </li>
        <li class="site-list-item">
          <div class="card" >
            <img src="/assets/images/store-2.png" alt="store-2">
            <div class="card-body">
              <h5 class="card-title"><a href="./storeintro.html">台北綠園店</a></h5>
              <ul class="card-text">
                <li class="card-text-item">
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      call
                    </span>
                    <span>
                      電話：(02)000-2345
                    </span>
                  </a>
                </li>
                <li class="card-text-item">
                  <a href="#">
                    <span class="material-symbols-outlined site-icon">
                      schedule
                    </span>
                    <span>
                      營業時間：10:00-21:00
                    </span>
                  </a>
                </li>
                <li>
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      location_on
                    </span>
                    <span>
                      地址：台北市中正區復興南路 132-1 號
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="site-btn">詳細資訊</a>
            </div>
          </div>
        </li>
        <li class="site-list-item">
          <div class="card" >
            <img src="/assets/images/store-3.png" alt="store-3">
            <div class="card-body">
              <h5 class="card-title"><a href="./storeintro.html">台中清水旗艦店</a></h5>
              <ul class="card-text">
                <li class="card-text-item">
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      call
                    </span>
                    <span>
                      電話：(02)000-1234
                    </span>
                  </a>
                </li>
                <li class="card-text-item">
                  <a href="#">
                    <span class="material-symbols-outlined site-icon">
                      schedule
                    </span>
                    <span>
                      營業時間：10:00-21:00
                    </span>
                  </a>
                </li>
                <li>
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      location_on
                    </span>
                    <span>
                      地址：台中市清水區經南一路 23 號 8 樓
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="site-btn">詳細資訊</a>
            </div>
          </div>
        </li>
        <li class="site-list-item">
          <div class="card" >
            <img src="/assets/images/store-4.png" alt="store-4">
            <div class="card-body">
              <h5 class="card-title"><a href="./storeintro.html">高雄中正形象店</a></h5>
              <ul class="card-text">
                <li class="card-text-item">
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      call
                    </span>
                    <span>
                      電話：(07)000-2345
                    </span>
                  </a>
                </li>
                <li class="card-text-item">
                  <a href="#">
                    <span class="material-symbols-outlined site-icon">
                      schedule
                    </span>
                    <span>
                      營業時間：10:00-21:00
                    </span>
                  </a>
                </li>
                <li>
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      location_on
                    </span>
                    <span>
                      地址：高雄市苓雅區中正路 38 號 12 樓
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="site-btn">詳細資訊</a>
            </div>
          </div>
        </li>
        <li class="site-list-item">
          <div class="card" >
            <img src="/assets/images/store-5.png" alt="store-5">
            <div class="card-body">
              <h5 class="card-title"><a href="./storeintro.html">高雄夢時代店</a></h5>
              <ul class="card-text">
                <li class="card-text-item">
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      call
                    </span>
                    <span>
                      電話：(07)000-1234
                    </span>
                  </a>
                </li>
                <li class="card-text-item">
                  <a href="#">
                    <span class="material-symbols-outlined site-icon">
                      schedule
                    </span>
                    <span>
                      營業時間：10:00-21:00
                    </span>
                  </a>
                </li>
                <li>
                  <a href="tel+:020001234">
                    <span class="material-symbols-outlined site-icon">
                      location_on
                    </span>
                    <span>
                      地址：高雄市前鎮區中華一路 63 號 6 樓
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="site-btn">詳細資訊</a>
            </div>
          </div>
        </li>
      </ul>
      
    </section>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
