<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>周周-2024 切版直播班-第三、四週主線任務</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="container">
      <ul class="product-list">
        <li><a href="./glasses.html">OPTICAL</a></li>
        <li><a href="./sunglasses.html">SUNGLASSES</a></li>
        <li><a href="./glasses.html">FUNCTIONAL</a></li>
      </ul>
    </section>

    <section class="product-header">
      <img src="/assets/images/product-header-3.png" alt="product-header-3">
      <img src="/assets/images/product-header-4.png" alt="product-header-4">
    </section>

    <!-- 賽璐珞鈦金屬混合鏡框 -->
    <section class="container">
      <h2 class="glasses-title">2020 NEW COLLECTION</h2>
      <p class="glasses-text">賽璐珞鈦金屬混合鏡框</p>
      <ul class="sunpro-list">
        <li class="sunpro-item-list">
          <div>
            <img src="/assets/images/product-7.png" alt="product-7">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
          </div>
          
        </li>
        <li class="sunpro-item-list">
          <img src="/assets/images/product-8.png" alt="product-8">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
        </li>
        <li class="sunpro-item-list">
          <img src="/assets/images/product-9.png" alt="product-9">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
        </li>
        <li class="sunpro-item-list">
          <img src="/assets/images/product-10.png" alt="product-10">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
        </li>
        <li class="sunpro-item-list">
          <img src="/assets/images/product-11.png" alt="product-11">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
        </li>
        <li class="sunpro-item-list">
          <img src="/assets/images/product-12.png" alt="product-12">
          <div class="pro-item">
            <p class="pro-text">BJ41600S</p>
            <p class="pro-price">NTD3,490</p>
          </div>
          <div class="color-select">
            <a class="pro-brown" href="#"></a>
            <a class="pro-orange" href="#"></a>
          </div>
        </li>
      </ul>
      <ul class="pages-list">
        <li><a class="page-upordown" href="#">上一頁</a></li>
        <li><a class="pages-item" href="#">1</a></li>
        <li><a class="pages-item page-two" href="#">2</a></li>
        <li><a class="pages-item" href="#">3</a></li>
        <li><a class="pages-item" href="#">4</a></li>
        <li><a class="pages-item" href="#">5</a></li>
        <li><a class="page-upordown" href="./glasses.html">下一頁</a></li>
      </ul>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
